---
layout: blog
selected_menu: blog
---


<section class="ct-mediaSection ct-decoration--type5-rotate ct-u-paddingBoth80 ct-blog" id="works">
    <div class="container">
        <header class="ct-pageSectionHeader text-center">
            <h2 class="ct-js-animation--item ct-motive-text" data-when="enter" data-from="0" data-to="1" data-opacity="0" data-translatey="-50" >HERE'S</h2>
            <h3 class="ct-js-animation--item ct-u-hdr3" data-when="enter" data-from="0" data-to="1" data-opacity="0" data-translatey="100">my blog</h3>
        </header>
        <div class="row">
            <div class="col-md-9">
                <article class="ct-articleBox ct-articleBox--default">
                    <div class="ct-articleBox-media">
                        <img src="./assets/images/demo-content/makeup/makeup-blog-image-1.jpg" alt="">
                    </div>
                    <div class="ct-articleBox-titleBox">
                        <div class="ct-articleBox-meta">
                            <span>March 4, 2014</span>
                            <span>
                                <a href="#">Images</a>, <a href="#">News</a>, <a href="#">Resources</a>
                            </span>
                            <span>By admin</span>
                            <span>3 comments</span>
                        </div>
                        <a href="blog-single.html"><h4>This is a standard post format with preview picture</h4></a>
                    </div>
                    <div class="ct-articleBox-description">
                        Donec faucibus ullamcorper pulvinar. Duis quis tempus varius, sapien urna pretium libero, nec mollis eros dolor eget velit. Nulla ornare ut nisi sodales consequat. Phasellus eu tellus eget massa ultrices rhoncus. Quam massa, tincidunt semper sapien. Posuere eleifend dolor. Vivamus purus ligula, venenatis nec elit at, tempus bibendum ipsum. Proin sed vehicula lectus. Curabitur augue diam, tincidunt venenatis lacinia, vulputate at lectus.
                    </div>
                    <a class="ct-articleBox-button" href="blog-single.html">Continue reading<i class="fa fa-angle-right"></i></a>

                    <div class="clearfix"></div>
                </article>
                <article class="ct-articleBox ct-articleBox--default">
                    <div class="ct-articleBox-media">
                        <div class="flexslider ct-js-flexslider ct-flexslider-navigation--type2" data-controlnav="true" data-directionnav="true">
                            <ul class="slides">
                                <li><img src="./assets/images/demo-content/makeup/makeup-blog-image-2.jpg" alt=""></li>
                                <li><img src="./assets/images/demo-content/makeup/makeup-blog-image-3.jpg" alt=""></li>
                                <li><img src="./assets/images/demo-content/makeup/makeup-blog-image-4.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ct-articleBox-titleBox">
                        <div class="ct-articleBox-meta">
                            <span>March 4, 2014</span>
                            <span>
                                <a href="#">Images</a>, <a href="#">News</a>, <a href="#">Resources</a>
                            </span>
                            <span>By admin</span>
                            <span>3 comments</span>
                        </div>
                        <a href="blog-single.html"><h4>Gallery post format: post with multiple images</h4></a>
                    </div>
                    <div class="ct-articleBox-description">
                        Donec faucibus ullamcorper pulvinar. Duis quis tempus varius, sapien urna pretium libero, nec mollis eros dolor eget velit. Nulla ornare ut nisi sodales consequat. Phasellus eu tellus eget massa ultrices rhoncus. Quam massa, tincidunt semper sapien. Posuere eleifend dolor. Vivamus purus ligula, venenatis nec elit at, tempus bibendum ipsum. Proin sed vehicula lectus. Curabitur augue diam, tincidunt venenatis lacinia, vulputate at lectus.
                    </div>
                    <a class="ct-articleBox-button" href="blog-single.html">Continue reading<i class="fa fa-angle-right"></i></a>

                    <div class="clearfix"></div>
                </article>
                <article class="ct-articleBox ct-articleBox--default">
                    <div class="ct-articleBox-titleBox">
                        <div class="ct-articleBox-meta">
                            <span>March 4, 2014</span>
                            <span>
                                <a href="#">Images</a>, <a href="#">News</a>, <a href="#">Resources</a>
                            </span>
                            <span>By admin</span>
                            <span>3 comments</span>
                        </div>
                        <a href="blog-single.html" class="ct-link-post">
                            <div class="ct-hyperlink--circle"><i class="fa fa-link"></i></div> <h4> Link post format</h4>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </article>
                <article class="ct-articleBox ct-articleBox--default">
                    <div class="ct-articleBox-titleBox">
                        <div class="ct-articleBox-meta">
                            <span>March 4, 2014</span>
                            <span>
                                <a href="#">Images</a>, <a href="#">News</a>, <a href="#">Resources</a>
                            </span>
                            <span>By admin</span>
                            <span>3 comments</span>
                        </div>
                    </div>
                    <div class="ct-articleBox-description">
                        Aside post format. Donec faucibus ullamcorper pulvinar. Duis quis tempus varius, sapien urna pretium libero, nec mollis eros dolor eget velit. Nulla ornare ut nisi sodales consequat. Phasellus eu tellus eget massa ultrices rhoncus. Quam massa, tincidunt semper sapien. Posuere eleifend dolor. Vivamus purus ligula, venenatis nec elit at, tempus bibendum ipsum. Proin sed vehicula lectus. Curabitur augue diam, tincidunt venenatis lacinia, vulputate at lectus.
                    </div>
                    <a class="ct-articleBox-button" href="blog-single.html">Continue reading<i class="fa fa-angle-right"></i></a>

                    <div class="clearfix"></div>
                </article>
                <article class="ct-articleBox ct-articleBox--default">
                    <div class="ct-articleBox-titleBox">
                        <div class="ct-articleBox-meta">
                            <span>March 4, 2014</span>
                            <span>
                                <a href="#">Images</a>, <a href="#">News</a>, <a href="#">Resources</a>
                            </span>
                            <span>By admin</span>
                            <span>3 comments</span>
                        </div>
                    </div>
                    <div class="ct-articleBox-description">
                        <div class="ct-testimonials">
                            <p>Creativity is in everyone; it just manifests itself differently with each person, my cpa, for example, is one of the most creative people I know.</p>
                            <span>— Ron Mirello</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </article>
                <div class="ct-pagination">
                    <div class="col-md-2">
                        <ul class="pager text-left">
                            <li><a href="#"><i class="fa fa-angle-left"></i>  Previous page</a></li>
                        </ul>
                    </div>
                    <div class="col-md-8 text-center">
                        <ul class="pagination pagination-lg">
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="pager text-right">
                            <li><a href="#">Next page  <i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ct-js-sidebar">
                <div class="row">
                    <div class="col-sm-6 col-md-12">
                        <section class="widget">
                            <div class="widget-inner">
                                <div class="ct-search-widget">
                                    <div class="form-group ct-form-group-label--float">
                                        <input id="search" placeholder="Name (required)" required type="text" name="field[]" class="form-control input-lg">
                                        <label for="search">Search this blog</label>
                                        <div class="ct-input-group-btn">
                                            <button class="btn btn-primary">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-6 col-md-12">
                        <section class="widget">
                            <div class="widget-inner">
                                <h4 class="text-uppercase">Categories</h4>
                                <ul>
                                    <li class="current-cat">
                                        <a href="#" title="View all posts filed under Makeup">Makeup<span
                                                class="ct-blogWidget-count"> (2)</span></a>
                                    </li>
                                    <li>
                                        <a href="#" title="View all posts filed under Style">Style<span
                                                class="ct-blogWidget-count"> (9)</span></a>
                                    </li>
                                    <li>
                                        <a href="#" title="View all posts filed under Trends">Trends<span
                                                class="ct-blogWidget-count"> (2)</span></a>
                                    </li>
                                    <li>
                                        <a href="#" title="View all posts filed under Inspirations">Photography<span
                                                class="ct-blogWidget-count"> (9)</span></a>
                                    </li>
                                    <li>
                                        <a href="#" title="View all posts filed under Inspirations">Inspiration<span
                                                class="ct-blogWidget-count"> (4)</span></a>
                                    </li>
                                    <li>
                                        <a href="#" title="View all posts filed under Inspirations">Wordpress<span
                                                class="ct-blogWidget-count"> (4)</span></a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-6 col-md-12">
                        <section class="widget ct-widget-latestPosts">
                            <div class="widget-inner">
                                <h4 class="text-uppercase">Recent Posts</h4>
                                <ul>
                                    <li>
                                        <div class="widget-latest-posts-content">
                                            <span>
                                                    March 4, 2014
                                                </span>
                                            <a href="#" title="View Post">This is a standard post format with preview picture</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="widget-latest-posts-content">
                                            <span>
                                                    March 4, 2014
                                                </span>
                                            <a href="#" title="View Post">Gallery post format: post with multiple images</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="widget-latest-posts-content">
                                            <span>
                                                    March 4, 2014
                                                </span>
                                            <a href="#" title="View Post">Link post format</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-6 col-md-12">
                        <section class="widget ct-widget-archives">
                            <div class="widget-inner">
                                <h4 class="text-uppercase">Archives</h4>
                                <select class="ct-js-select">
                                    <option value="month">Select  month</option>
                                    <option value="January">January</option>
                                    <option value="February">February</option>
                                    <option value="March">March</option>
                                </select>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-6 col-md-12">
                        <section class="widget ct-widget-archives">
                            <div class="widget-inner">
                                <h4 class="text-uppercase">Tags</h4>
                                <div class="tagcloud">
                                    <a href="#" title="">Makeup</a>
                                    <a href="#" title="">Style</a>
                                    <a href="#" title="">Trends</a>
                                    <a href="#" title="">Photography</a>
                                    <a href="#" title="">Inspiration</a>
                                    <a href="#" title="">Wordpress</a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!--
<div class="container clearfix">
    <div class="clearfix col1-1 auto">
        <h2>Blog</h2>

        <p class="big">Notícias, comentários e sugestões sobre maquiagem, cabelo, moda...</p>
    </div>


    <div id="container" class="clearfix two-columns medium-one-column">

        {% for post in site.posts %}

        <div class="element clearfix col1-3 home {% for category in post.categories %}{{category}} {% endfor %}  ">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <div class="images">
                    <img src="{{ (post.id | post_image:'folder') | prepend: site.baseurl }}" alt="" data-no-retina />

                    <div class="teaser">
                        <p class="small">{{ post.date | date: "%d/%m/%Y" }}</p>
                        <h4>{{post.title}}</h4>
                    </div>
                </div>
            </a>
        </div>

        {% endfor %}

    </div>

    <div class="clearfix col1-3 auto margin-left">
        <h5>Categorias</h5>

        <div id="filters">
            <ul class="unordered-list option-set clearfix" data-option-key="filter">
                {% for category in site.categories %}
                    <li><a href="#filter=.{{category | first}}">{{category | first | capitalize}}</a></li>
                {% endfor %}
                <li><a href="#filter=.home" class="selected">Ver todas</a></li>
            </ul>
        </div>
    </div>

</div>
-->