<header>
    <h1 id="logo"><a href="index-2.html">Steakhouse</a></h1>
    <!-- start navi -->
    <div class="centered">
        <div id="nav-button"> <a href="#"><span class="nav-bar"></span><span class="nav-bar"></span><span class="nav-bar"></span></a> </div>
    </div>
    <div id="responsive-nav">
        <nav id="options" class="clearfix">
            <ul id="nav">
                <li><a href="{{ '/' | prepend: site.baseurl }}" class="{% if page.selected_menu == 'home' %}selected{% endif %}">Home<span class="icons start"></span></a></li>
                <li><a href="#" class="menu">Portfolio<span class="icons portfolio"></span></a>
                    <ul>
                        <li><a href="{{ '/404.html' | prepend: site.baseurl }}">Moda</a></li>
                        <li><a href="{{ '/404.html' | prepend: site.baseurl }}">Noivas</a></li>
                    </ul>
                </li>
                <li><a href="#" class="menu">Serviços<span class="icons services"></span></a>
                    <ul>
                        <li><a href="{{ '/404.html' | prepend: site.baseurl }}">Maquiagem</a></li>
                        <li><a href="{{ '/404.html' | prepend: site.baseurl }}">Cabelo</a></li>
                    </ul>
                </li>
                <!--<li><a href="team.html">Team<span class="icons team"></span></a></li>-->
                <!--<li><a href="blog.html">Blog<span class="icons blog"></span></a></li>-->
                <li><a href="{{ '/contact.html' | prepend: site.baseurl }}" class="{% if page.selected_menu == 'contact' %}selected{% endif %}">Contato<span class="icons contact"></span></a></li>
            </ul>
        </nav>
        <!-- end nav -->
        <div id="bottom" class="centered">
            <ul class="social clearfix">
                <!--<li class="twitter"><a href="#" onClick="return false">Visit our twitter Account</a></li>
                <li class="behance"><a href="#" onClick="return false">Visit our behance Account</a></li>-->
                <li class="facebook"><a href="https://www.facebook.com/{{site.facebook_username}}" target="_blank">Visitar Página do Facebook</a></li>
            </ul>
            <p class="small"> © 2015, Fabíola Nogueira.<br/>Todos os direitos reservados.</p>
        </div>
    </div>
</header>


<!-- end header -->