<head>
    <meta charset="utf-8">
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}" />

    <link href="{{ '/css/reset.css' | prepend: site.baseurl }}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ '/css/contact.css' | prepend: site.baseurl }}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ '/css/styles.css' | prepend: site.baseurl }}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ '/css/flexslider.css' | prepend: site.baseurl }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ '/css/jquery.fancybox.css' | prepend: site.baseurl }}" rel="stylesheet" type="text/css" media="screen" />
    <!--[if gt IE 8]><!--><link href="{{ '/css/retina-responsive.css' | prepend: site.baseurl }}" rel="stylesheet" type="text/css" media="screen" /><!--<![endif]-->
    <!--[if !IE]> <link href="{{ '/css/retina-responsive.css' | prepend: site.baseurl }}" rel="stylesheet" type="text/css" media="screen" /> <![endif]-->
    <link href="{{ '/css/print.css' | prepend: site.baseurl }}" rel="stylesheet" type="text/css" media="print" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,700,600,800' rel='stylesheet' type='text/css' />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
</head>