---
layout: blog
selected_menu: blog
---
<section class="ct-mediaSection ct-decoration--type5-rotate ct-u-paddingBoth80 ct-blog" id="works">
    <div class="container">
        <header class="ct-pageSectionHeader text-center">
            <h2 class="ct-js-animation--item ct-motive-text" data-when="enter" data-from="0" data-to="1" data-opacity="0" data-translatey="-50" >MEU</h2>
            <h3 class="ct-js-animation--item ct-u-hdr3" data-when="enter" data-from="0" data-to="1" data-opacity="0" data-translatey="100">blog</h3>
        </header>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                {% assign sorted_pages = site.posts | sort:"date" | limit_offset:site.paginate,paginator.page %}

                {% for post in sorted_pages %}

                <article class="ct-articleBox ct-articleBox--default">
                    <div class="ct-articleBox-media">
                        <img src="{{ (post.id | post_image) | prepend: site.baseurl }}" alt="" data-no-retina />
                    </div>
                    <div class="ct-articleBox-titleBox">
                        <div class="ct-articleBox-meta">
                            <span>{{ post.date | date: "%d/%m/%Y" }}</span>
                            <span>
                                {% for category in post.categories %}
                                {{category | capitalize}}{% if forloop.last == false %}, {% endif %}
                                {% endfor %}
                            </span>
                        </div>
                        <a href="{{ post.url | prepend: site.baseurl }}"><h4>{{post.title}}</h4></a>
                    </div>
                    <div class="ct-articleBox-description">
                        {{post.excerpt}}
                    </div>
                    <a class="ct-articleBox-button" href="{{ post.url | prepend: site.baseurl }}">Leia mais<i class="fa fa-angle-right"></i></a>

                    <div class="clearfix"></div>
                </article>

                {% endfor %}

                <div class="ct-pagination">
                    <div class="col-md-2">
                        <ul class="pager text-left">
                            <li>
                                {% if paginator.previous_page %}

                                    {% if paginator.previous_page == 1 %}
                                    <a href="{{ '/blog/' | prepend: site.baseurl | replace: '//', '/' }}index.html"><i class="fa fa-angle-left"></i>  Anterior</a>
                                    {% else %}
                                    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.previous_page }}index.html"><i class="fa fa-angle-left"></i>  Anterior</a>
                                    {% endif %}

                                {% else %}
                                <a href="#" style="color: #333333 !important; cursor: default;"><i class="fa fa-angle-left"></i>  Anterior</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 text-center">
                        <ul class="pagination pagination-lg">
                            {% for page in (1..paginator.total_pages) %}
                                {% if page == paginator.page %}
                                    <li class="active"><a href="#" onclick="return false;">{{page}}</a></li>
                                {% elsif page == 1 %}
                                    <li><a href="{{ '/blog/' | prepend: site.baseurl | replace: '//', '/' }}index.html">{{page}}</a></li>
                                {% else %}
                                    <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}index.html">{{page}}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="pager text-right">
                            <li>
                                {% if paginator.next_page %}
                                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}index.html">Próxima  <i class="fa fa-angle-right"></i></a>
                                {% else %}
                                <a href="#" style="color: #333333 !important; cursor: default;">Próxima  <i class="fa fa-angle-right"></i></a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <!--
            <div class="col-md-3 ct-js-sidebar">
                <div class="row">
                    <div class="col-sm-6 col-md-12">
                        <section class="widget">
                            <div class="widget-inner">
                                <h4 class="text-uppercase">Categorias</h4>
                                <ul>
                                    {% for category in site.categories %}
                                    <li class="current-cat">

                                        <a href="#" title="View all posts filed under {{category | first | capitalize}}">{{category | first | capitalize}}<span class="ct-blogWidget-count"> (2)</span></a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-6 col-md-12">
                        <section class="widget ct-widget-archives">
                            <div class="widget-inner">
                                <h4 class="text-uppercase">Tags</h4>
                                <div class="tagcloud">
                                    {% for tag in site.tags %}
                                    <a href="#" title="">{{tag | first | capitalize}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
</section>



<!--
<div class="container clearfix">
    <div class="clearfix col1-1 auto">
        <h2>Blog</h2>

        <p class="big">Notícias, comentários e sugestões sobre maquiagem, cabelo, moda...</p>
    </div>


    <div id="container" class="clearfix two-columns medium-one-column">

        {% for post in site.posts %}

        <div class="element clearfix col1-3 home {% for category in post.categories %}{{category}} {% endfor %}  ">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <div class="images">
                    <img src="{{ (post.id | post_image:'folder') | prepend: site.baseurl }}" alt="" data-no-retina />

                    <div class="teaser">
                        <p class="small">{{ post.date | date: "%d/%m/%Y" }}</p>
                        <h4>{{post.title}}</h4>
                    </div>
                </div>
            </a>
        </div>

        {% endfor %}

    </div>

    <div class="clearfix col1-3 auto margin-left">
        <h5>Categorias</h5>

        <div id="filters">
            <ul class="unordered-list option-set clearfix" data-option-key="filter">
                {% for category in site.categories %}
                    <li><a href="#filter=.{{category | first}}">{{category | first | capitalize}}</a></li>
                {% endfor %}
                <li><a href="#filter=.home" class="selected">Ver todas</a></li>
            </ul>
        </div>
    </div>

</div>
-->